GOOGLE_GEMINI_API_KEY="your google gemini api key"
GOOGLE_SEARCH_API_KEY="your google search api key in GCP"
GOOGLE_SEARCH_ENGINE_ID="your google search engineID in GCP"
SUPABASE_URL = "https://xxx.xxx.xxx"
SUPABASE_KEY = "your hosting supabase key"
DB_URL = "postgresql://postgres:example123456@xxx.xxx.xxx.xxx:xxxxx/postgres"
GEMINI_MODEL = "google ai model name"
EMBEDDING_MODEL = "embedding model name (can use 'DMetaSoul/sbert-chinese-general-v2')"
WEB_API_URL = "IEP backend api url"

# Thinking budget is ai model thinking mode (-1: auto, 0: disable, 0~24576: token quantity)
THINKING_BUDGET = -1